* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}


body {
  margin-top: 5rem;
  background-color: lightgray;
  font-family: sans-serif;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  margin-top: 10rem;
  max-width: 800px;
  margin: auto;
  border: 1px solid black;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

input {
  padding: 8px;
  width: 200px;
  border-radius: 5px;

}

#button {
  width: 90px;
  height: 30px;
  border-radius: 5px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
  gap: 10px;
}

.result {
  border: 1px solid black;
  border-radius: 5px;
  /* width: 150px; */
  padding: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



